@charset "utf-8";
/* CSS Document */

#contact input.field{
	border				:		1px solid #3B240B;
}

#contact input.errorinfo{
	border				:		1px solid #3B240B;
	background-color	:		#ffcccc;
}

#contact input.correct{
	border				:		1px solid #3B240B;
	background-color	:		#ccffcc;
}

#contact textarea{
	border				:		1px solid #3B240B;
	
}

#contact textarea.correct{
	border				:		1px solid #3B240B;
	background-color	:		#ccffcc;
	
}

#contact textarea.errorinfo{
	border				:		1px solid #3B240B;
	background-color	:		#ffcccc;
	
}

#contact .error{
	color				:	red;
}

#contact select.field{
	border				:		3px double #663300;
	background-color	:		#ffffcc;
	color				:		#663300;
}